/* Style the header */
.header {
    padding: 0px;
    text-align: center;
    font-size: 15px;
    background-image: url(images/space04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    color: #00ff00;
}

.page-title {
  text-align: center;
  margin: 2px;
  padding: 3px;
  line-height: 1em;
  color: #00ff00;
}
.logo {
  height: 80px;
  width: 80px;
  background-image: url(images/space2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 1em;
}
/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    margin: 10px;
    height: 300px;  Should be removed. Only for demonstration 
}

/* Style the footer */
.footer {
	background-image: url(images/space2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #00ff00;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media (min-width: auto)  {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
@media (max-width: 768px){
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}*/
.thumbnail{
	width: 100%;
	height: 300px;
	display: inline-block;
}
.breakpoint {
    max-width: 100%;
    display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 1500px) and (orientation: landscape) {
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  width: 240px;
  border: 2px solid GhostWhite;
  border-radius: 4px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .gallery-item .thumbnail {
    width: 95%;
  }
}


